/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *:before, *:after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  color: #353547;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}

h2::after{
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}

h3{
  font-size: 1.8em;
  color: #fe4918;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.button{
  background-color: #fe4918;
  padding: 10px 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid #fe4918;
}

.button:hover{
  background-color: #e33000;
}

.button.hollow, .button.holow:hover{
  background-color: #fff;
  color: #fe4918;
}

.button.transparent{
  background-color: transparent;
  border:2px solid; #fff;
}

.button.transparent:hover{
  border: 2px solid #fe4918;
}

.float-right{
  float: right;
}

.section{
  padding: 30px 0;
}

.seciton p{
  font-size: 1.2em;
  text-align: center;
}

.container{
  width: 100%;
  margin: 0 auto;
  color: #353547;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*header*/

div.hero{
  background-image: url(../img/background.png);
  height: 100vh; /*viewhigh alto de la ventana principal*/
  background-position: top center;
  background-size: cover;
}

div.content-header{
  padding-top: 40px;
}

nav.social-media{
  text-align: center;
}

nav.social-media a {
  color: #fff;
  font-size: 2em;
  margin-right: 20px;
}

nav.social-media a:last-child{
  margin-right: 0;
}

div.info-event{
  text-align: center;
  color: #fff;
}

div.info-event p{
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

div.info-event p i{
  color:#fe4918;
  font-size: 1.6rem;
}

p.date{
  float: left;
}

p.city{
  float: right;
  text-align: right;
}

p.slogan{
  text-transform: none!important;
}

p.slogan span{
  font-weight: bold;
}

h1.site-name{
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

/*Lettering*/

h1.site-name span{
  position: relative;
  text-shadow: 0 0 30px black;
}

@media only screen and (min-width: 768px){
  div.info-event{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
  div.content-header{
    padding-top: 10px;
  }
  h1.site-name{
    font-size: 11.5vw;
    margin: 6px;
    line-height: 1;
  }
}

@media only screen and (min-width: 992px){
  .char1{
    top: 20px;
    right: 20px;
  }
  .char2{
    top: 0;
    right: 15px;
  }
  .char3{
    top: 10px;
    right: 20px;
  }
  .char4{
    top: 5px;
    right: 10px;
  }
  .char5{
    top: 15px;
    right: 10px;
  }
  .char6{
    top: 5px;
    right: 10px;
  }
  .char7{
    top: 20px;
    right: -10px;
  }
}

/*Navegación*/

div.bar{
  background-color: #353547;
  padding: 20px 0;
}

.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

div.logo{
  width: 80%;
  float: left;
}

div.logo img{
  width: 100%;
}

nav.main-nav{
  display: none;
  width: 100%;
}

nav.main-nav a{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}

nav.main-nav a:hover{
  background-color: #fe4918; 
}

nav.main-nav a:last-child{
  border: 2px solid #fe4918;
  color: #fe4918;
}

nav.main-nav a:last-child:hover{
  color: #fff;
}

div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

@media only screen and (min-width: 480px){
  .container{
    width: 95%;
  }
}

@media only screen and (min-width: 768px){
  .container{
    width: 90%;
  }
  div.logo{
    width: 33%;

  }
  nav.main-nav{
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.main-nav a{
    margin-right: 10px;
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 10px 0 0;
  }
}

@media only screen and (min-width: 992px){
  .container{
    width: 90%;
    max-width: 1100px;
  }
}

/*Menu movil*/
div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}
div.menu-movil{
  cursor: pointer;
}

div.menu-movil span{
  height: 8px;
  margin-bottom: 6px;
  background-color: #fff;
  display: block;
}

@media only screen and (min-width: 768px){
  div.menu-movil{
    display: none;
  }
}

/*program Event*/

section.program{
  position: relative;
}

div.container-video{
  max-width: 100%;
  overflow-x: hidden;
}

div.content-program {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} 

div.program-event{
  background-color: rgba(255,255,255,.8);
  padding: 15px;
  margin-top: 80px;
}

nav.menu-program{
  width: 100%;
  padding-bottom: 10px;
}

nav.menu-program a{
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe4918;
}

nav.menu-program a.activo::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 30px;
  background-image: url('../img/talleres-flecha.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  bottom: -20px;
}

nav.menu-program a i, div.detail-event p i{
  color: #fe4918;
  font-size: 1.6em;
  margin-right: 10px;
}

div.detail-event{
  margin-top: 20px;
  border-bottom: 1px solid #000;
  padding: 0 20px;
}

div.detail-event:nth-child(2){
  border: none;
}

div.detail-event p {
  margin-bottom: 20px;
  font-size: 20px;
}

div.ocultar{
  display: none;
}

@media only screen and (min-width: 768px){
  div.program-event{
    width: 70%;
  }
  nav.menu-program{
    display: table;
  }
  nav.menu-program a{
    display: table-cell;
  }
}

@media only screen and (min-width: 992px){
  div.program-event{
    width: 50%;
  }
}

/*Guesses*/

ul.list-guesses li{
  padding: 10px;
  float: left;
}

div.guess{
  position: relative;
  overflow: hidden;
}

div.guess img{
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: all .5s ease-in-out;
}

div.guess:hover img{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

div.guess p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(63, 63, 63, .55);
  color: #fe4918;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  transition: all .5s ease-in-out;
}

div.guess:hover p{
  bottom: -80px;
  opacity: 0;
}

@media only screen and (min-width: 480px){
  ul.list-guesses li {
    width: 50%;
  }
}

@media only screen and (min-width: 768px){
  ul.list-guesses li{
    width: 33.3%;
  }
}

/*Counter*/

.parallax::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}

div.counter{
  position: relative;
  height: auto;
}

div.counter::before{
  background-image: url(../img/back.jpg);
  content: '';
}

ul.resumen-event{
  position: relative;
  padding: 120px 0;
}

ul.resumen-event li{
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

p.number{
  color: #fe4918;
  font-size: 4em;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 768px){
  ul.resumen-event li{
    width: 25%;
  }
}

/*Table Prices*/

ul.list-price > li{ /*Selecciona al prime il*/
  padding: 10px;
}

div.table-price{
  border: 1px solid #e1e;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  transition: all .3s ease;
}

div.table-price:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow: 0px 0px 50px #666;
}

div.table-price ul li{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868;
  line-height: 26px;
}

div.table-price ul li::before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: '\f00c'; /*Iconos de fontAwesome en codigo de css*/
}

div.table-price h3{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

div.table-price p.number{
  color: #000;
  margin: 20px 0;
}

@media only screen and (min-width: 768px){
  ul.list-price > li{
    float: left;
    width: 33.3%;
  }
}


/*Map*/

div.map{
  height: 420px;
  z-index: -1;
}

/*Textimoniales*/

div.testmoniales{
  padding-bottom: 20px; 
}

div.testimonial{
  padding: 5px;
}

blockquote{
  background-color: #fff;
  border: 1px solid #353547;
  position: relative;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}

blockquote p{
  text-align: left!important;
  font-size: 1em!important;
  font-family: 'PT Sans', sans-serif;
  padding: 0 20px 0 65px;
}

blockquote p::before{
  content: '\201c';
  position: absolute;
  left: 13px;
  top: 8px;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}

footer.info-testimonial{
  padding: 0;
}

footer.info-testimonial img{
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;
}

footer.info-testimonial cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

footer.info-testimonial cite span{
  color: #000;
  display: block;
  text-transform: none;
  margin-top: 5px;
}

@media only screen and (min-width: 768px){
  div.testimonial{
    float: left;
    width: 33.3%;
  }
}

/* Newsletter*/

div.newsletter{
  position: relative;
  height: auto;
}

div.newsletter::before{
  content: '';
  background-image: url(../img/starting.jpg);
}

div.newsletter .content{
  padding: 100px 0;
  color: #fff;
  text-align: center;
  position: relative;
}

div.newsletter .content p {
  font-size: 1.2em;
  text-transform: lowercase;
}

div.newsletter .content h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}

/*Cuenta regresiva*/

div.regresive-count ul li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px){
  div.regresive-count ul li{
    width: 25%;
    float: left;
  }
}

/*Footer*/

footer.site-footer{
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}

footer .container > div{
  color: #fff;
  padding: 0 20px;
  font-size: 12px;
}

footer h3 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer h3 span{
  color: #fe4918;
}

footer .last-tweets li{
  margin-bottom: 10px;
}

footer nav.social-media{
  text-align: left;
}

p.copyright{
  background-color: #2e2e2e;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin: 20px 0 0;
}

@media only screen and (min-width: 768px){
  footer .container > div{
    width: 33.3%;
    float: left;
  }
}

/* INTERNAS*/
/*CONFERENCIA*/

body.conferencia .main-nav .activo{
  border-bottom: 2px solid #fe4918; 
}

div.galeria a{
  display: inline-block;
  margin-bottom: 5px;
}

/*REGISTRO*/

form.registro h3{
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

form.registro label{
  margin-bottom: 5px;
  font-weight: bold;
}

h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #fe4918;
  padding-bottom: 10px;
  font-size: 1.2em;
}

div.box{
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px;
}

div.campo{
  padding: 20px;
}

div.pack .table-price:hover{
  transform: none;
  box-shadow: none;
}

div.pack .table-price input{
  clear: both;
  width: 100px;
  margin: 10px auto 0 auto;
  display: block;
}

.day-content{
  padding: 20px;
  display: none;
}

.day-content > div p{ /*">" hace que sólo aplique al primer hijo "div"(en este caso)*/
  text-align: left;
}

.day-content > div label{
  display: block;
  margin-bottom: 10px;
}

.day-content > div input{
  margin-right: 10px;
}

.day-content > div label time{
  color: #fe4918;
  font-weight: bold;
}

@media only screen and (min-width: 768px){
  div.campo{
    float: left;
    width: 33.3%;
  }
  .day-content > div{
    float: left;
    width: 33.3%;
  }
}

/* RESUMEN REGISTRO */

div.resumen p{
  font-size: 1.2em;
  text-transform: uppercase;
}

div.resumen div.extras{
  float: left;
  width: 100%;
  padding: 30px;
}

div.extras div.orden{
  text-align: left;
  margin-bottom: 10px;
}

div.extras div.orden input{
  margin: 10px 0 0 0;
}

div.resumen div.total{
  float: right;
  width: 100%;
  padding: 30px;
}

div.resumen input{
  display: block;
  margin: 10px auto
}

@media only screen and (min-width: 768px){
  div.resumen div.total{
    width: 50%;
  }
  div.resumen div.extras{
    width: 50%;
  }
}

#list-product{
  background-color: #e1e1e1;
  padding: 20px;
  display: none;
}

#suma-total{
  text-align: center;
  font-size: 2em;
  color: #fe4918;
}

#error{
  clear: both;
  padding: 20px;
  text-align: center;
  display: none;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
